# =============================================================================
# Fin de ligne / Line endings
# =============================================================================
*.bat text eol=crlf
